= render 'shared/error_message'
.row
  .col-md-offset-4.col-md-4
    .panel.panel-info
      .panel-heading Log In
      .panel-body
      = form_tag '/logins' do
        = label_tag :name
        = text_field_tag :name
        = label_tag :password
        = password_field_tag :password
        = submit_tag 'login'
    = link_to "Create user", new_user_path

