%h1 Categories
= link_to 'Add new', new_category_path, class: 'btn btn-default pull-right align-with-h1'

= flash[:alert]

= render 'date_range_form'

%table.table.table-striped
  %thead
    %th= sortable 'name', 'Name'
    %th= sortable 'amount', 'Incomes sum'
    %th=sortable 'amount', 'Expenses sum'
  - @categories.each do |category|
    %tr
      %td= category.name
      %td= category.get_incomes(@from, @to)
      %td= category.get_expenses(@from, @to)
      %td= link_to 'Edit', edit_category_path(category), class: 'btn btn-default'      